html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', 'Helvetica',
    'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', sans-serif;
  background-image: radial-gradient(
      circle at 50% 50%,
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.8),
      black
    ),
    linear-gradient(45deg, #ff00c1, #7033ff);
  color: rgba(255, 255, 255, 0.8);
}

button,
input {
  -webkit-appearance: none;
  border: none;
  background: none;
  color: inherit;
  font: inherit;
}
button:not(:disabled) {
  cursor: pointer;
}
::placeholder {
  color: inherit;
  opacity: 0.5;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
}

.list-wrapper {
  background-color: #14151a;
  border-radius: 20px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
}

.list-item {
  display: flex;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  padding: 20px;
  align-items: center;
}
.remove {
  flex: none;
  border: 3px solid white;
  border-radius: 50%;
  font-size: 0;
  width: 24px;
  height: 24px;
  box-sizing: border-box;
  margin-right: 20px;
}

.add-item-wrapper {
  display: flex;
}
.add-input {
  padding: 20px;
  flex: auto;
}
.add-input:focus {
  background-color: rgba(255, 255, 255, 0.05);
  border-bottom-left-radius: 20px;
  outline: none;
}
.add-btn {
  padding: 20px;
  background-image: linear-gradient(45deg, #ff00c1, #7033ff);
  border-bottom-right-radius: 20px;
}
.add-btn:hover {
  background-color: white;
  background-image: none;
  color: #b827e1;
}
